*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: aliceblue;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #a06d63;
    border-radius: 4px;
    margin: 10px;
}

.head{
    text-align: center;
}
input[type = "submit"]{
    background-color: rgb(1, 129, 129);
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}
input[type ="submit"]:hover{
    background-color: green;
}